In [7]:
import json
import pandas as pd

import json

In [20]:

pd.read_json('./price_spider/price_spider/spiders/price.jl', lines=True,orient='records').drop_duplicates().tail(100)

,district,apartment_type,property_type,floor_area,price,price_m2,build_year,floor,elevator,condition,plot,energy_class
1594,Kaitaa,"6h, avokeitti...",rt,"114,00",326000.0,2860.0,1995.0,1/2,no,average,own\t\t\t\t\t\t\t,E
1595,Tapiola,"4 h, k, työ...",rt,"165,00",530000.0,3212.0,1973.0,1/2,no,good,own\t\t\t\t\t\t\t,E
1596,Pohjois-tapiola,"4h,k,s",rt,"92,50",365000.0,3946.0,1990.0,1/2,no,good,own\t\t\t\t\t\t\t,D
1597,Tuomarila,4h+k+kph+s+eril...,rt,"96,00",355000.0,3698.0,2006.0,2/2,no,good,own\t\t\t\t\t\t\t,None
1598,Laajalahti,3-4h+k+s,rt,"100,00",360000.0,3600.0,1982.0,1/1,no,average,own\t\t\t\t\t\t\t,F
...,...,...,...,...,...,...,...,...,...,...,...,...
1696,\n\t\t\t\t\t\t\t\t\t\t\t,35,,None,NaN,NaN,NaN,None,None,None,None,None
1698,\n\t\t\t\t\t\t\t\t\t\t\t,36,,None,NaN,NaN,NaN,None,None,None,None,None
1700,\n\t\t\t\t\t\t\t\t\t\t\t,37,,None,NaN,NaN,NaN,None,None,None,None,None
1702,\n\t\t\t\t\t\t\t\t\t\t\t,38,,None,NaN,NaN,NaN,None,None,None,None,None
1704,\n\t\t\t\t\t\t\t\t\t\t\t,39,,None,NaN,NaN,NaN,None,None,None,None,None

In [11]:
import re


a = 'diemee'

re.search('diem', a)

In [18]:
for i in range(0, 3):
    print(i)

0
1
2